{#include main.html}

{#title}Welcome{/title}

<div class="jumbo text-center">
  <h1>
    >TazeD<-Hub
  </h1>
  <p>
    This is a christian server! 🙏 So please:
  </p>
  <h3 class="triggered">
    NO THOTS!
  </h3>
  <div class="container">
    <form action="https://www.google.com/search" method="get">
      <div class="input-group">
        <input type="text" class="form-control" name="q" placeholder="Google dich glücklich...">
        <button type="submit" class="btn btn-success">Search</button>
      </div>
    </form>
  </div>
</div>

<div class="landing-apps-container">
  <div class="card" style="width: 18rem;">
    <img src="/static/images/teamspeak.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Teamspeak</h5>
      <p class="card-text">Perfekt zum flamen</p>
      <a href="ts3server://tazed.club" class="btn btn-primary">Mitreden</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
{/include}
