<nav class="navbar navbar-expand-sm bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand tazed-font" href="#">
      <img src="https://cdn.discordapp.com/attachments/1319313241087803422/1319313253926440980/61e1a7fe-0a26-4879-8039-f9959a35e605.webp?ex=676581b7&is=67643037&hm=7a2ee64f1854285263eae790a48fa09c4eb8969ccc0e5adfb608c52b4689a999&" alt="Bootstrap" width="30">
      >TazeD<
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{uri:Landing.index}">Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
