<!DOCTYPE html>
<html>
  <head>
    <title>{#insert title/}</title>
    {#insert moreStyles /}
    {#insert moreScripts /}
  </head>
  <body class="bg-gray-100">

    <nav class="bg-blue-500 p-4 flex items-center justify-between">
        <div class="text-white text-2xl">
            👌
        </div>

        <div class="space-x-4">
          <a href="{uri:Landing.index}" class="text-white hover:text-gray-200">Index</a>
        </div>
    </nav>

    <!-- Body -->
    <div class="container mx-auto mt-8">
      {#insert /}
    </div>

  </body>
</html>
